.pannel{
    min-height: 80vh;  
    background-color:azure
}
.panel-heading{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
   text-align: center;  
}

.panel-body{
 display: flex;
 flex-direction: row;
 flex-wrap:wrap;
}
.panel-item{
    width: 200px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
    flex:1 1 auto;
    margin:15px;
    border-color: #faebcc;
    border-style: dotted;
}